<div class="container">
    <div class="row">
      <div class="col-md-5">
        <form [formGroup]="formExam" (ngSubmit)="AddNewComment()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" formControlName="name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
          </div>
          <ng-container *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">
            <div class="alert alert-danger" *ngIf="f.email.errors.required">Email is required</div>
            <div class="alert alert-danger" *ngIf="f.email.errors.email">Email not corect</div>
        </ng-container>
          <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="Comment" formControlName="comment"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!formExam.valid">Add</button>
        </form>
      </div>
      <div class="col-md-6 offset-md-1">
        <div class="media mb-3" *ngFor="let comment of comments; let i = index;">
            <!-- <img src="http://lorempixel.com/64/64/people/" class="mr-3" alt="..."> -->
            <div class="media-body">
                <h5 class="mt-0">{{comment.name}}</h5>
                <h6>{{comment.email}}</h6>
                {{comment.comment}}
                <div>
                    <button type="button" class="btn btn-primary btn-sm" (click)="deleteComment(i)">Delete comment</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>